{% extends "base.html" %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='cat.svg') }}" alt="" width="90" height="90">
    <h1 class="display-5 fw-bold">Cat Facts</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Explore the captivating world of cats with Cat Facts Galore! Discover fascinating insights into their behaviors and habits. </p>
      <div class="mb-3">
        <form method="post" action="./catfact">
            <input type="text" class="form-control" name="id" placeholder="Type in your cat fact ID, e.g 1">
            <input class="btn btn-primary mt-3" type="submit" value="Get your cat fact">
        </form>
      </div>
      <blockquote class="blockquote">
        <p>{{ fact }}</p>
      </blockquote>
    </div>
</div>

{% endblock %}